## Algorithem Evaluation

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

## Read the Dataset

In [2]:
import pandas as pd
df = pd.read_csv('train_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
s = df.isna().sum()
s

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
s[s>0]

Age         177
Cabin       687
Embarked      2
dtype: int64

## Seprate independent and dependent features-X and Y

In [6]:
X = df.drop(columns=['PassengerId','Survived','Ticket','Name'])
Y = df[['Survived']]

In [7]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [8]:
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

## Seprate cat and con from X

In [9]:
cat = list(X.columns[X.dtypes=='object'])
con = list(X.columns[X.dtypes!='object'])

In [10]:
cat

['Sex', 'Cabin', 'Embarked']

In [11]:
con

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

## Preprocessing

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
# NUM pipe
num_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='median')),
                           ('scaler',StandardScaler())])

# CAT pipe
cat_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='constant',fill_value='unknown')),
                           ('ohe',OneHotEncoder(handle_unknown='ignore'))])

# Combine
pre = ColumnTransformer([('num',num_pipe,con),
                         ('cat',cat_pipe,cat)])

In [14]:
x_pre = pre.fit_transform(X).toarray()
x_pre

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.        ,
         1.        ,  0.        ],
       [-1.56610693,  0.66386103,  0.43279337, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.        ,
         1.        ,  0.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ...,  1.        ,
         0.        ,  0.        ]])

In [15]:
cols = pre.get_feature_names_out()
cols

array(['num__Pclass', 'num__Age', 'num__SibSp', 'num__Parch', 'num__Fare',
       'cat__Sex_female', 'cat__Sex_male', 'cat__Cabin_A10',
       'cat__Cabin_A14', 'cat__Cabin_A16', 'cat__Cabin_A19',
       'cat__Cabin_A20', 'cat__Cabin_A23', 'cat__Cabin_A24',
       'cat__Cabin_A26', 'cat__Cabin_A31', 'cat__Cabin_A32',
       'cat__Cabin_A34', 'cat__Cabin_A36', 'cat__Cabin_A5',
       'cat__Cabin_A6', 'cat__Cabin_A7', 'cat__Cabin_B101',
       'cat__Cabin_B102', 'cat__Cabin_B18', 'cat__Cabin_B19',
       'cat__Cabin_B20', 'cat__Cabin_B22', 'cat__Cabin_B28',
       'cat__Cabin_B3', 'cat__Cabin_B30', 'cat__Cabin_B35',
       'cat__Cabin_B37', 'cat__Cabin_B38', 'cat__Cabin_B39',
       'cat__Cabin_B4', 'cat__Cabin_B41', 'cat__Cabin_B42',
       'cat__Cabin_B49', 'cat__Cabin_B5', 'cat__Cabin_B50',
       'cat__Cabin_B51 B53 B55', 'cat__Cabin_B57 B59 B63 B66',
       'cat__Cabin_B58 B60', 'cat__Cabin_B69', 'cat__Cabin_B71',
       'cat__Cabin_B73', 'cat__Cabin_B77', 'cat__Cabin_B78',
       'cat__Cabin_B79', 'cat__Cabin_B80', 'cat__Cabin_B82 B84',
       'cat__Cabin_B86', 'cat__Cabin_B94', 'cat__Cabin_B96 B98',
       'cat__Cabin_C101', 'cat__Cabin_C103', 'cat__Cabin_C104',
       'cat__Cabin_C106', 'cat__Cabin_C110', 'cat__Cabin_C111',
       'cat__Cabin_C118', 'cat__Cabin_C123', 'cat__Cabin_C124',
       'cat__Cabin_C125', 'cat__Cabin_C126', 'cat__Cabin_C128',
       'cat__Cabin_C148', 'cat__Cabin_C2', 'cat__Cabin_C22 C26',
       'cat__Cabin_C23 C25 C27', 'cat__Cabin_C30', 'cat__Cabin_C32',
       'cat__Cabin_C45', 'cat__Cabin_C46', 'cat__Cabin_C47',
       'cat__Cabin_C49', 'cat__Cabin_C50', 'cat__Cabin_C52',
       'cat__Cabin_C54', 'cat__Cabin_C62 C64', 'cat__Cabin_C65',
       'cat__Cabin_C68', 'cat__Cabin_C7', 'cat__Cabin_C70',
       'cat__Cabin_C78', 'cat__Cabin_C82', 'cat__Cabin_C83',
       'cat__Cabin_C85', 'cat__Cabin_C86', 'cat__Cabin_C87',
       'cat__Cabin_C90', 'cat__Cabin_C91', 'cat__Cabin_C92',
       'cat__Cabin_C93', 'cat__Cabin_C95', 'cat__Cabin_C99',
       'cat__Cabin_D', 'cat__Cabin_D10 D12', 'cat__Cabin_D11',
       'cat__Cabin_D15', 'cat__Cabin_D17', 'cat__Cabin_D19',
       'cat__Cabin_D20', 'cat__Cabin_D21', 'cat__Cabin_D26',
       'cat__Cabin_D28', 'cat__Cabin_D30', 'cat__Cabin_D33',
       'cat__Cabin_D35', 'cat__Cabin_D36', 'cat__Cabin_D37',
       'cat__Cabin_D45', 'cat__Cabin_D46', 'cat__Cabin_D47',
       'cat__Cabin_D48', 'cat__Cabin_D49', 'cat__Cabin_D50',
       'cat__Cabin_D56', 'cat__Cabin_D6', 'cat__Cabin_D7',
       'cat__Cabin_D9', 'cat__Cabin_E10', 'cat__Cabin_E101',
       'cat__Cabin_E12', 'cat__Cabin_E121', 'cat__Cabin_E17',
       'cat__Cabin_E24', 'cat__Cabin_E25', 'cat__Cabin_E31',
       'cat__Cabin_E33', 'cat__Cabin_E34', 'cat__Cabin_E36',
       'cat__Cabin_E38', 'cat__Cabin_E40', 'cat__Cabin_E44',
       'cat__Cabin_E46', 'cat__Cabin_E49', 'cat__Cabin_E50',
       'cat__Cabin_E58', 'cat__Cabin_E63', 'cat__Cabin_E67',
       'cat__Cabin_E68', 'cat__Cabin_E77', 'cat__Cabin_E8',
       'cat__Cabin_F E69', 'cat__Cabin_F G63', 'cat__Cabin_F G73',
       'cat__Cabin_F2', 'cat__Cabin_F33', 'cat__Cabin_F38',
       'cat__Cabin_F4', 'cat__Cabin_G6', 'cat__Cabin_T',
       'cat__Cabin_unknown', 'cat__Embarked_C', 'cat__Embarked_Q',
       'cat__Embarked_S', 'cat__Embarked_unknown'], dtype=object)

In [16]:
x_pre = pd.DataFrame(x_pre,columns=cols)
x_pre.head()

,num__Pclass,num__Age,num__SibSp,num__Parch,num__Fare,cat__Sex_female,cat__Sex_male,cat__Cabin_A10,cat__Cabin_A14,cat__Cabin_A16,...,cat__Cabin_F33,cat__Cabin_F38,cat__Cabin_F4,cat__Cabin_G6,cat__Cabin_T,cat__Cabin_unknown,cat__Embarked_C,cat__Embarked_Q,cat__Embarked_S,cat__Embarked_unknown
0,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-1.566107,0.663861,0.432793,-0.473674,0.786845,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,-1.566107,0.433312,0.432793,-0.473674,0.420730,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.827377,0.433312,-0.474545,-0.473674,-0.486337,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## Apply train test split

In [17]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x_pre,Y,test_size=0.30,random_state=42)

In [18]:
xtrain.shape

(623, 159)

In [19]:
xtest.shape

(268, 159)

## Algorithem  Evaluation

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [21]:
dct = {'Logistic':LogisticRegression(),
       'Decision Tree':DecisionTreeClassifier(),
       'Random Forest':RandomForestClassifier(),
       'Gradient Boost':GradientBoostingClassifier(),
       'KNN':KNeighborsClassifier(),
       'SVM':SVC()}

In [22]:
dct.items()

dict_items([('Logistic', LogisticRegression()), ('Decision Tree', DecisionTreeClassifier()), ('Random Forest', RandomForestClassifier()), ('Gradient Boost', GradientBoostingClassifier()), ('KNN', KNeighborsClassifier()), ('SVM', SVC())])

In [23]:
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
tr = []
tr_cv = []
ts = []
for name,model in dct.items():
    # Fit the model
    model.fit(xtrain,ytrain)
    # Predict train and test results
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    # Calculating f1 score in traning
    f1_tr = f1_score(ytrain,ypred_tr)
    tr.append(f1_tr)
    # Calculated f1 score in train cross validate
    scores = cross_val_score(model,xtrain,ytrain,cv=5,scoring='f1')
    f1_cv = scores.mean()
    tr_cv.append(f1_cv)
    # Calculate f1 score in testing
    f1_ts = f1_score(ytest,ypred_ts)
    ts.append(f1_ts)
    # Print the Results for models
    print(f"Model Name :{name}\n")
    print(f"Traning F1 :{f1_tr:.4f}")
    print(f"Traning F1 CV :{f1_cv:.4f}")
    print(f"Testing F1 : {f1_ts:.4f}")
    print("\n========================================\n")

Model Name :Logistic

Traning F1 :0.7578
Traning F1 CV :0.7138
Testing F1 : 0.7583

========================================

Model Name :Decision Tree

Traning F1 :0.9757
Traning F1 CV :0.6754
Testing F1 : 0.6944

========================================

Model Name :Random Forest

Traning F1 :0.9758
Traning F1 CV :0.7172
Testing F1 : 0.7014

========================================

Model Name :Gradient Boost

Traning F1 :0.8558
Traning F1 CV :0.7505
Testing F1 : 0.7385

========================================

Model Name :KNN

Traning F1 :0.7890
Traning F1 CV :0.6919
Testing F1 : 0.7264

========================================

Model Name :SVM

Traning F1 :0.7682
Traning F1 CV :0.7440
Testing F1 : 0.7788

========================================

In [24]:
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
tr = []
tr_cv = []
ts = []
for name, model in dct.items():
    # Fit the model
    model.fit(xtrain, ytrain)
    # Predict train and test results
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    # Calculate F1 score in training
    f1_tr = f1_score(ytrain, ypred_tr)
    tr.append(f1_tr)
    # Calculate F1 Score in train Cross validated
    scores = cross_val_score(model, xtrain, ytrain, cv=5, scoring='f1')
    f1_cv = scores.mean()
    tr_cv.append(f1_cv)
    # Calculate F1 score in testing
    f1_ts = f1_score(ytest, ypred_ts)
    ts.append(f1_ts)
    # Print the results for model
    print(f'Model Name : {name}\n')
    print(f'Training F1 : {f1_tr:.4f}')
    print(f'Training F1 CV : {f1_cv:.4f}')
    print(f'Testing F1 : {f1_ts:.4f}')
    print('\n=================================================\n')

Model Name : Logistic

Training F1 : 0.7578
Training F1 CV : 0.7138
Testing F1 : 0.7583

=================================================

Model Name : Decision Tree

Training F1 : 0.9757
Training F1 CV : 0.6838
Testing F1 : 0.6820

=================================================

Model Name : Random Forest

Training F1 : 0.9759
Training F1 CV : 0.7276
Testing F1 : 0.7075

=================================================

Model Name : Gradient Boost

Training F1 : 0.8531
Training F1 CV : 0.7457
Testing F1 : 0.7337

=================================================

Model Name : KNN

Training F1 : 0.7890
Training F1 CV : 0.6919
Testing F1 : 0.7264

=================================================

Model Name : SVM

Training F1 : 0.7682
Training F1 CV : 0.7440
Testing F1 : 0.7788

=================================================

## Create a Dataframe to show result

In [25]:
dct.keys()

dict_keys(['Logistic', 'Decision Tree', 'Random Forest', 'Gradient Boost', 'KNN', 'SVM'])

In [26]:
eval_dct = {'Model_name': list(dct.keys()),
            'Train F1' : tr,
            'Test F1' : ts,
            'Train F1 CV': tr_cv}

In [27]:
eval_df = pd.DataFrame(eval_dct)
eval_df

       Model_name  Train F1   Test F1  Train F1 CV
0        Logistic  0.757848  0.758294     0.713840
1   Decision Tree  0.975717  0.682028     0.683778
2   Random Forest  0.975930  0.707547     0.727572
3  Gradient Boost  0.853081  0.733668     0.745680
4             KNN  0.788991  0.726368     0.691936
5             SVM  0.768182  0.778846     0.744042